*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
.signlog {
  margin: 10rem auto;
  max-width: 50rem;
}
form {
  background-color: #eeeeee;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.386);
}
.group {
  width: 100%;
  margin-bottom: 1.8rem;
}
label {
  font-size: 1.8rem;
  width: 35%;
  display: inline-block;
  font-weight: 400;
  color: #363636;
}
input {
  width: 64%;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.564);
}
input[type="submit"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid white;
  background-color: rgba(3, 2, 2, 0.725);
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.8rem;
  transition: all 0.3s;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.142);
}
input[type="submit"]:hover {
  transform: translate(0px, -3px);
  background-color: rgba(10, 9, 44, 0.605);
}
input[type="submit"]:active {
  transform: translate(0px, -2px);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.021);
}
.icon-position {
  position: relative;
}
.icon-position i {
  position: absolute;
  top: 50%;
  font-size: 1.6rem;
  transform: translate(0%, -50%);
  right: 3%;
}
header {
  padding: 0.8rem;
  background: rgba(0, 0, 0, 0.263);
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-around;
}
header p {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: blueviolet;
  font-weight: 500;
}
.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
a {
  text-decoration: none;
}
.address i {
  font-size: 1.4rem;
  color: black;
}
.tel i {
  color: black;
}
.main-content {
  padding: 3rem;
}
.main-content {
  position: relative;

  display: inline-block;
}
.main-content h3 {
  font-size: 1.6rem;
  color: rgb(204, 4, 4);
  letter-spacing: 1.2px;
}
.main-content span {
  position: absolute;
  letter-spacing: 0;
  bottom: 15px;

  text-transform: uppercase;
  font-size: 1.2rem;
  width: 100%;
  left: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: blueviolet;
}
.main-content span::before {
  content: "";
  width: 10%;
  height: 2px;
  margin: 0 0.8rem;

  background-color: red;
  text-align: left;
  display: inline-block;
}
.main-content span::after {
  content: "";
  width: 10%;
  height: 2px;
  background-color: red;
  top: 0;
  margin: 0 0.8rem 0;
  text-align: right;
  display: inline-block;
}
.news-container {
  padding: 3rem;
  width: 100%;

}
.news {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  padding: 3rem;
  background-color: rgb(170, 169, 173);
}

.card img {
  width: 100%;
}
.card .text {
  width: 100%;
  padding: 1.5rem;
}
.card .date {
  color: blueviolet;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}
.card h4 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #000000;
}
.card .description {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: justify;
}
.spinner{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%,-50%);
  border: solid rgb(177, 174, 174);
  border-top: 4px solid blueviolet;
  display: none;
  
  
}
@keyframes spin {
  0%{
    transform: translate(-50%,-50%) rotate(0deg)
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg)
  }
}
.nav-links{
  background-color: blue;
  font-size: 1.5rem;
  padding: 3rem;
  
}
.link{
  
  display: flex;
  gap: 25rem;
  list-style: none;
}
.singleNewsContainer{
 
  
  padding: 3rem;
  font-size: 1.5rem;
}
.like-container{

  
  display: flex;
  gap: 1rem;
  padding: 3rem;
  font-size: 1.5rem;
}
.admin-container{
  border: 1px solid green;
  width: 100%;
}
.admin-heading{
  text-align: center;
  border-bottom: 1px solid gold;
  padding: 2rem;
  font-size: 2.5rem;

}
.link-content{
 display: grid;
 grid-template-columns: 15% 80%;
 width: 100%;
}
.nav-admin{
  background-color: #afa0a0;
}
.admin-links{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.admin-links li{
  padding: 1.6rem;
  width: 100%;
  text-align: center;
}
.admin-links a{
 font-size: 1.5rem;
 text-decoration: none;
 color: rgb(0, 0, 0);
}
.admin-links li:hover{
  background-color: rgb(141, 158, 175);
  color: rebeccapurple;
}
.table-admin{
 padding: 1.5rem;
}
.tableusers{
  width: 800px;
  margin: 5rem auto;
  border-collapse: collapse;
}
tr,
th,
td{
  border: 1px solid rgb(17, 12, 12);
  padding: 1.5rem;
  font-size: 1.8rem;
}
.Post {
  font-size: 1.4rem;
  margin: 2rem;
  text-align: right;
}
.likeNews{
font-size: 1.5rem;
 display: flex;
 gap: 2rem;
  padding: 2rem;
}
.newsForm {
  width: 800px;
  margin: 5rem auto;
}
.newsForm input {
  margin-bottom: 1.5rem;
}
.table{

    width: 800px;
    margin: 5rem auto;
    border-collapse: collapse;
  
}
.category{
  padding: 3rem;
  margin: 5rem auto;
  border-collapse: collapse;
}
.commentNews{
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
